@import "table.css";
.left,
.left-tab,
.right,
.right-tab {
  overflow-y: scroll;
  height: calc(100vh - 70px);
}
.left::-webkit-scrollbar,
.left-tab::-webkit-scrollbar,
.right-tab::-webkit-scrollbar,
.right::-webkit-scrollbar {
  display: none;
}
.left,
.left-tab,
.right,
.right-tab {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.left-tab h4,
.left h4 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #053a51;
}
.right-tab h6,
.right h6 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: #808080;
  margin-bottom: 1.5rem;
}
.right-tab h5,
.right h5 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: #252a2f;
  margin-bottom: 1.5rem;
}
.right-tab .inner-boxe,
.right .inner-boxe {
  padding: 1.75rem;
}
.right-tab .inner-boxe .blue-box,
.right .inner-boxe .blue-box {
  margin-top: 1.5rem;
  padding: 16px;
  background: #c9e7ff;
  border-radius: 1.25rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #17517e;
}
.right-tab .inner-boxe .blue-box ul,
.right .inner-boxe .blue-box ul {
  padding-left: 16px;
}
.right-tab .inner-boxe .blue-box ul li::marker,
.right .inner-boxe .blue-box ul li::marker {
  font-size: 10px;
}
.right-tab .inner-boxe .blue-box ul li:not(:first-child),
.right .inner-boxe .blue-box ul li:not(:first-child) {
  margin-top: 8px;
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .left,
  .left-tab,
  .right,
  .right-tab {
    /* width: 70%; */
    overflow-y: auto;
    height: auto;
  }
  #dash {
    overflow-y: auto;
  }
  #dash::-webkit-scrollbar {
    display: none;
  }
  #dash {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
label > span:last-child {
  font-style: italic;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: right;
  color: #808080;
}
label > span:first-child {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3125rem;
  text-align: center;
  color: #808080;
}

.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #ffffff;
  height: 3rem;
  border: none;
  background: #0090ff;
  border-radius: 2.5rem;
  cursor: pointer;
}
.button:disabled {
  opacity: 0.6;
}
.button:hover {
  background: #0a72c2;
  color: #ffffff;
}
.button-outline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  /* text-align: center; */
  color: #263238;
  padding: 1.1875rem 0;
  width: 100%;
  /* height: 56px; */
  background: #ffffff;
  border: 1px solid #c7c7c7;
  border-radius: 1.875rem;
}
.button-outline:hover {
  background: #263238;
  border: 1px solid #263238;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.button-outline:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.custom-input-group label {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3125rem;
  text-align: center;
  color: #808080;
}
.custom-input {
  padding: 10px 1.25rem;
  width: 100%;
  height: 3rem;
  border-radius: 1.875rem;
  background: transparent;
}
.custom-input.border-blue {
  border: 1px solid #0090ff;
}
.custom-input.border-gray {
  border: 1px solid #d2d2d2;
}
.custom-input::placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #808080;
}
.show-count {
  font-style: italic;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #999999;
}
.btn-xsm {
  padding: 6px 10px;
  font-size: 0.75rem;
  height: 1.75rem;
  border: none;
  border-radius: 1.875rem;
  font-weight: 700;
}
a.btn-xsm {
  text-decoration: none;
  display: inline-block;
}
.btn-xsm.bg-blue-light {
  background: #0090ff;
  color: #ffffff;
}
.btn-xsm.bg-blue-dark {
  background: #17517e;
  color: #ffffff;
}
.btn-xsm.bg-red {
  background: #ff0000;
  color: #ffffff;
}
.btn-xsm.bg-outline-blue {
  border: 1px solid #17517e;
  color: #17517e;
  background: #ffffff;
}

/* ------------------- Widths --------------------- */
.w-30 {
  width: 29%;
}
.w-70 {
  width: 69%;
}
.w-20 {
  width: 19%;
}
.w-80 {
  width: 79%;
}
.w-40 {
  width: 39%;
}
.w-60 {
  width: 59%;
}

/* ------------------ Gaps ------------------------ */
.gap-3 {
  gap: 12px;
}

/* Specific uses */
.filename-short {
  display: inline-block !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 140px;
}
