.table-div {
  overflow: hidden;
  width: 100%;
}
.my-table {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  width: 100%;
  /* display: block; */
  overflow-x: auto;
  white-space: nowrap;
}
.my-table thead,
.my-table tbody {
  /* display: table; */
  width: 100%;
}
.my-table thead tr th {
  background: #f9fbff;
  padding: 16px 12px 16px 12px;
  border: none;
}
.my-table tbody tr td {
  padding: 10px 12px 10px 12px;
  border: none;
  vertical-align: middle;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: inherit;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

/* --------------------- Pagination Overwrite -------------------- */

.page-item > button,
.page-item > span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99a2aa;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  width: 3rem;
  height: 3rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.page-item.active .page-link {
  border: none;
  background: #eff7ff;
  color: #252a2f;
  transition: all 1s ease-in-out;
}
